.user-profile-modal .user-profile-modal-body {
  /* 모달 안에서 조금 여백만 조정하고 싶을 때 */
  padding-top: 0;
}

.user-profile-modal ion-content {
  --background: #000;
}

/* 필요하면 헤더도 다크 스타일로 */
.user-profile-modal ion-toolbar {
  --background: #000;
  --color: #fff;
}